<div style = "margin-left: 4rem;">
  <h2>Bem-vindo, ADM!</h1>
  <h3>Livros:</h2>
  <button><%= link_to "Adicionar novo", new_book_path%></button>
  <button><%= link_to "Visualizar", books_path%></button>
  <h3>Autores:</h2>
  <button><%= link_to "Adicionar novo", new_author_path%></button>
  <button><%= link_to "Visualizar", authors_path%></button>
  <h3>Emprestimos:</h2>
  <button><%= link_to "Adicionar novo", new_reservation_path%></button>
  <button><%= link_to "Visualizar", reservations_path%></button>
</div>