<div id="<%= dom_id reservation %>">
  <p>
    <strong>Book:</strong>
    <%= reservation.book_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= reservation.client_id %>
  </p>

  <p>
    <strong>Librarian:</strong>
    <%= reservation.librarian_id %>
  </p>

  <p>
    <strong>Rentdate:</strong>
    <%= reservation.rentDate %>
  </p>

  <p>
    <strong>Devolutiondate:</strong>
    <%= reservation.devolutionDate %>
  </p>

</div>
